:root {
  --branding-color: black;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
}
.hero {
  background-image: url(/src/images/background.jpg);
  text-align: center;
  padding: 50px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #110f1d;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.about-section {
  padding: 50px 20px;
}
.about-section h1 {
  font-size: 64px;
}
.about-section h2 {
  font-size: 64px;
  line-height: 75px;
}
.about-section p {
  font-size: 15px;
  line-height: 30px;
}
.about-section img {
  width: 450px;
  border-radius: 50px !important;
}
.contact-content {
  text-align: center;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 50px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.homepage-para {
  font-size: 30px;
}
.container img {
  max-width: 100%;
  border-radius: 5px;
}
.active {
  color: var(--branding-color) !important;
}
.navbar-brand {
  margin-left: 20px;
}
.nav-link {
  text-align: right !important;
}
footer .contact-box {
  padding: 20px 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-image: url(/src/images/background.jpg);
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 24px;
}
footer .email-link:hover {
  color: rgb(73, 73, 73);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--branding-color);
}
footer .open-source {
  font-size: 10px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 70px;
  }
  h3 {
    font-size: 26px;
  }
  .about-section {
    text-align: center;
    padding-top: 0px;
  }
}
